// layout
$containerWidthNumb: 1200

$gutter: 15px
$containerWidth: $containerWidthNumb + px

// header
$headerHeight: 70px
$headerHeightMob: 50px

// Font
$font: "Open Sans", sans-serif

$fontSize: 16px
$fontWeight: 400
$lineHeight: 1.5

// Color
$black: #141414
$gray: #77767a

$textColor: $black
$accent: #a333ff





