extends ./components/_layout.pug

block vars
	- const pageTitle = 'Copy text from URL | kopy.link'
	- const pageClass = ''
	- const lang = 'en'

block content_block
	.notify.js-notify(data-lang="copied") Copied!

	section.section
		h1(data-lang="title") Copy text
		.input-wrap
			input.js-input(type="text" value="" readonly)
		button.btn.js-button(data-copy="")
			span(data-lang="copy") Copy
			img.done(src="./img/ic-done.svg", alt="")