extends ./components/_layout.pug

block vars
	- const pageTitle = 'Copy Text from URL - kopy.link'
	- const pageClass = ''
	- const lang = 'en'

block content_block
	section.section
		h1 Copy Text
		.input-wrap
			input.js-input(type="text" value="" readonly)
		button.btn.js-button(data-copy="")
			span Copy
			img(src="./img/ic-copy.svg", alt="")
			img.done(src="./img/ic-done.svg", alt="")